body {
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
}


#bratbox {
background-color: #8ACE00;
height: 50vh;
width: 50vh;
display: flex;
justify-content: center;
align-self: center;
align-items: center;
cursor: pointer;
color: white;
margin-left: 30%;
margin-top: 25vh;
font-size: 5vh;
overflow: hidden;
background-size: cover;
}

#bratbox video {
    position: absolute;
    display: flex;
    justify-self: center;
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    
}

