@font-face {
  font-family: 'Oldwest';
  src: url(Assets/OLDWEST.otf) format('opentype');
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:'OldWest', sans-serif;
  background-image: url("Assets/background.png");
  background-color: #000000;
  background-position: center;
 background-size:auto;
  
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background: #171717;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}
.container.left {
  left: 0;
}
.container.right {
  left: 50%;
}
.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 16px;
  z-index: 1;
}
.container.right::after {
  left: -8px;
}
.container::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  top: calc(50% - 1px);
  right: 8px;
  background: #171717;
  z-index: 1;
}
.container.right::before {
  left: 8px;
}
.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  padding-top: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container.left .date {
  right: -75px;
}
.container.right .date {
  left: -75px;
}

.container.left .icon {
  right: 56px;
}
.container.right .icon {
  left: 56px;
}
.container .content {
  padding: 30px 90px 30px 30px;
  background: #580088;
  position: relative;
  border-radius: 500px 0px 500px 0px ;
  box-shadow: #000000;
}
.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 0px 500px 0px 500px;
  box-shadow: #000000;
}
.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }
  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }
  .container.right {
    left: 0%;
  }
  .container.left::after, 
  .container.right::after {
    left: 82px;
  }
  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #000000 transparent transparent;
  }
  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }
  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }
  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

.play-button {
background-color: #800dbd;
border:none ;
display: inline-block;
padding: 15px 20px;
text-align: center;
font-size: 12px;
border-radius: 25%;
}

.GlobalPause {
background-color: #4d0e80;
border:none ;
display: inline-block;
position: fixed;
padding: 15px 20px;
text-align: center;
font-size: 34px;
border-radius: 15%;
color: #ffffff;
}

.play-button:hover {
background-color: #dcd10f;
cursor: pointer;
}
.GlobalPause:hover {
background-color: #6b14b8;
cursor: pointer;
}